body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* MENU */

.navbar {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: #1f2937;
  padding: 8px 24px;
  color: #e5e7eb;
  font-size: 18px;
}

.navbar img {
  height: 80%;
  width: auto;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

/* TOP CONTENT */
.top-content {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 12px;
}

.left-top {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  text-align: left;
}
.left-top h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.top-content p {
  color: #e5e7eb;
  font-size: 18px;
}

.top-content button {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  background-color: #3882f6;
  font-size: 14px;
  width: 84px;
}


.right-top img {
  width: 500px;
  height: auto;
}

/* MIDDLE CONTENT */

h2 {
  text-align: center;
}
.middle-content {
  display: flex;
  gap: 2.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 200px;
  height: auto;
  margin-bottom: 8px;
  border: 5px solid#3882f6;
  border-radius: 12px;
  flex: 1;
}

/* QUOTE */

.quote {
  background-color: #e5e7eb;
  padding: 4px 12rem;
}

.quote-1 {
  font-size: 36px;
  font-style: italic;
  text-align: center;
}

.quote-2 {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

/* BOTTOM CONTENT */
.bottom-content {
  display: flex;
  background-color: #3882f6;
  margin: 2rem 7rem;
  padding: 1rem 10rem;
  justify-content: space-between;
  border-radius: 5px;
  align-items: center;
}

.text-1 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.text-2 {
  font-size: 18px;
  color: lightgrey;
}

.bottom-content button {
  color: white;
  background-color: #3882f6;
  font-weight: bold;
  padding: 4px 16px;
  height: 2rem;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 14rem;
}

/* FOOTER */
.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 12px;
}
